name:  CI-with-custom-action-react-app

on:
  workflow_dispatch:
  # push:
  #   branches: [ "main" ]

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v6.1.0
      with:
        # Version Spec of the version to use. Examples: 12.x, 10.15.1, >=10.15.0.
        node-version: 20
    - name: Installing Dependencies
      run: npm install
    - name: lint Phase
      run:  npm run lint
      continue-on-error: true
    - name: unit test
      run: npm run test
    - name: Building Static Files
      run: npm run build 
    
    - name: Using Custom Action 
      id: React_Docker_build_and_push
      uses: mohammedd2510/Reusable-Workflows-Custom-Actions/.github/actions/react-docker-build-push@main
      with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            image-name: react-app-cicd
            tag: ${{ github.sha }}
    - name: Output Image Name
      run: |
       echo "Docker Image Name: ${{ steps.React_Docker_build_and_push.outputs.image_name }}"
       echo "Docker Push Status ${{ steps.React_Docker_build_and_push.outputs.push_status }}"
  
  
