name: Railway CI/CD Pipeline

on: workflow_dispatch
#   push:
#     branches: [ "main" ]
permissions:
  packages: write
 
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v6.1.0
      with:
        # Version Spec of the version to use. Examples: 12.x, 10.15.1, >=10.15.0.
        node-version: 20
    - name: Installing Dependencies
      run: npm install
    - name: lint Phase
      run:  npm run lint
    - name: unit test
      run: npm run test
    - name: Building Static Files
      run: npm run build
    - run : ls -lh
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

    - uses: docker/build-push-action@v6.18.0
      with:
        push: true
        tags: ghcr.io/${{ github.actor }}/react-app-cicd:${{ github.sha }},ghcr.io/${{ github.actor }}/react-app-cicd:latest
        context: .


  
  deploy_railway:
      runs-on: ubuntu-latest
      needs: build
      container: ghcr.io/railwayapp/cli:latest
      steps:

      - name: Deploy Docker Image to Railway
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
          SVC_NAME: react-app
        run: |
          railway redeploy --service=$SVC_NAME -y