name:  DevSecOps-CI-Pipeline
on:
  workflow_dispatch:
  # push:
  #   branches: [ "main" ]

permissions:
  packages: write
  security-events: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v6.1.0
      with:
        # Version Spec of the version to use. Examples: 12.x, 10.15.1, >=10.15.0.
        node-version: 20
    - name: Installing Dependencies
      run: npm install
    - name: lint Phase
      run:  npm run lint
      continue-on-error: true

    - name: unit test
      run: npm run test
    - name: Building Static Files
      run: npm run build 

    - name: Run Gitleaks
      uses: gitleaks/gitleaks-action@v2
      continue-on-error: true

    - name: Upload SARIF to GitHub
      uses: github/codeql-action/upload-sarif@v3
      with:
          sarif_file: results.sarif
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
          languages:  javascript

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3

    
    - name: Docker Login, Build and Push 
      uses: mohammedd2510/Reusable-Workflows-Custom-Actions/.github/actions/docker-login-build-push@main
      with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            image_name: react-app-cicd
            tag: ${{ github.sha }}

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@0.33.1
      with:
          image-ref: 'ghcr.io/${{ github.actor }}/react-app-cicd:${{ github.sha }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'

    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@v4
      with:
          sarif_file: 'trivy-results.sarif'  
    

  
  
