name: Dockerized CI Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    build-and-push:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Set up Node.js 20
          uses: actions/setup-node@v6
          with:
            node-version: '20'

        - name: Install dependencies
          run: npm install

        - name: Lint code
          run: npm run lint

        - name: Run tests
          run: npm run test

        - name: Build project
          run: npm run build

        - name: Log in to GitHub Container Registry
          uses: docker/login-action@v2
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        
        - name: Build and push Docker image
          uses: docker/build-push-action@v6
          with:
            context: .
            push: true
            tags: |
              ghcr.io/${{ github.actor }}/react-app-cicd:${{ github.sha }}
              ghcr.io/${{ github.actor }}/react-app-cicd:latest