name: Environment Feature Deployment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select the deployment environment'
        required: true
        type: choice
        options:
          - staging
          - production

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Setup Node.js 20
        uses: actions/setup-node@v6
        with:
          node-version: 20
      
      - name: Install Dependencies
        run: npm install
      
      - name: Lint Phase
        run: npm run lint
      
      - name: Unit Tests
        run: npm run test
      
      - name: Build Static Files
        run: npm run build
      
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.actor }}/react-app-cicd:${{ github.sha }}
            ghcr.io/${{ github.actor }}/react-app-cicd:latest
  
  deploy:
    name: Deploy to ${{ github.event.inputs.environment }}
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: ${{ github.event.inputs.environment }}
      url: http://${{ vars.SSH_HOST }}:8080
    
    steps:
      - name: Deploy to Environment
        run: echo "${{ vars.environment_text }}"