name: REACT-CICD-Artifacts

on:
  push:
    branches: [ "main" ]
  # workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v6.1.0
      with:
        # Version Spec of the version to use. Examples: 12.x, 10.15.1, >=10.15.0.
        node-version: 20
    - name: Installing Dependencies
      run: npm install
    - name: lint Phase
      run:  npm run lint
    - name: unit test
      run: npm run test
    - name: Building Static Files
      run: npm run build
 
    - name: upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: react-app-build
        path: dist/
    


  deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
        - name: download build artifacts
          uses: actions/download-artifact@v4
          with:
            name: react-app-build
        - name: Copy artifact to server
          uses: appleboy/scp-action@v1
          with:
            host: ${{ vars.SSH_HOST }}
            username: ${{ vars.SSH_USER }}
            key: ${{ secrets.SSH_PRIVATE_KEY }}
            source: ./*
            target: /usr/share/nginx/html/
            rm: true        
        - name: SSH into server
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ vars.SSH_HOST }}
            username: ${{ vars.SSH_USER }}
            key: ${{ secrets.SSH_PRIVATE_KEY }}
            script: |
                sudo systemctl restart nginx